{% schema %}
{
  "name": "FAQ Acordeón",
  "settings": [
    {
      "type": "text",
      "id": "titulo",
      "label": "Título de la sección",
      "default": "Preguntas Frecuentes"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Elemento de FAQ",
      "settings": [
        {
          "type": "text",
          "id": "pregunta",
          "label": "Pregunta"
        },
        {
          "type": "textarea",
          "id": "respuesta",
          "label": "Respuesta"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "FAQ Acordeón",
      "category": "FAQ"
    }
  ]
}
{% endschema %}

<div class="accordion">
  {% if section.settings.titulo != blank %}
    <h1>{{ section.settings.titulo }}</h1>
  {% endif %}

  {% for block in section.blocks %}
    <div class="accordion-item">
      <button class="accordion-button" aria-expanded="false">
        Pregunta aquí
        <span class="icon-caret">
          <i class="fa-solid fa-caret-down"></i>
        </span>
      </button>
      <div class="accordion-content">
        <p>{{ block.settings.respuesta }}</p>
      </div>
    </div>
  {% endfor %}
</div>

<style>
    .accordion {
      display: flexbox;
      text-align:center;
      align-items: center;
      max-width: 60%;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .accordion-button {
      width: 100%;
      padding: 10px 15px;
      text-align: left;
      background: #f8f8f8;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

   .icon-caret {
    transition: transform 0.3s ease;
  }

  .accordion-button.active .icon-caret {
    transform: rotate(180deg);
  }

    .accordion-content {
      padding: 0 15px 10px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    .accordion-content.active {
      display: block;
    }
</style>

<script>
    document.querySelectorAll('.accordion-button').forEach(button => {
    button.addEventListener('click', () => {
      const accordionContent = button.nextElementSibling;

      button.classList.toggle('active');
      if (button.classList.contains('active')) {
        accordionContent.style.display = 'block';
      } else {
        accordionContent.style.display = 'none';
      }
    });
  });
</script>
