{% schema %}
{
  "name": "Slider de Imágenes",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen del Slider",
      "info": "Selecciona una imagen para agregar al slider."
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Habilitar Slider",
      "default": true
    }
  ]
}

{% endschema %}
{% comment %}
  Styles for Swiper
{% endcomment %}


<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    width: 50%;
    height: 50%;
  }
</style>

{% comment %}
  Section HTML
{% endcomment %}
<div class="swiper-container" id="{{ section.id }}">
  <div class="swiper-wrapper">
    {% if section.settings.image %}
      <div class="swiper-slide">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="Slide">
      </div>
    {% endif %}
  </div>

  <div class="swiper-pagination"></div>
</div>

{% comment %}
  Section JavaScript
{% endcomment %}
{% if section.settings.enable_slider %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var swiper = new Swiper('#{{ section.id }} .swiper-container', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        pagination: {
          el: '#{{ section.id }} .swiper-pagination',
          clickable: true
        }
      });
    });
  </script>
{% endif %}